Group Memebers

*   Chirag Gupta - 10623123
*   Chukwuebuka Uwaoma - 10621864
*   Dipanshu

In [17]:
# Import necesarry libraries
import tweepy
import os
from dotenv import load_dotenv
import numpy as np
import pandas as pd

In [18]:
# Load dotenv and read secret keys and tokens
load_dotenv()
api_key = os.getenv('api_key')
api_secret_key = os.getenv('api_secret_key')
access_token = os.getenv('access_token')
access_token_secret = os.getenv('access_token_secret')

In [19]:
# Connect to twitter using tweepy API and stored tokens
auth = tweepy.OAuthHandler(api_key,api_secret_key)
auth.set_access_token(access_token,access_token_secret)
api = tweepy.API(auth)

In [20]:
# Pulls tweets based on search query and geocode location
tweetlist = []
geocode="53.1424,-7.6921,300km" # "53.3498053,-6.2603097,25km"
filter =  '-filter:retweets AND -filter:replies'
query = 'housing'
tweets = tweepy.Cursor(api.search_tweets, q=query+filter, geocode=geocode, lang='en', tweet_mode="extended", count=20).items(20)

# adds tweets to a dataframe
column_names = ["id", "created_at", "username", "tweet", "retweet_count", "favorite_count", "user_location"]
df = pd.DataFrame(columns=column_names)

for tweet in tweets:
    #create a new row object
    new_row = pd.Series({
        "id": tweet.id, 
        "created_at":tweet.created_at,
        "username": tweet.user.screen_name, 
        "tweet": tweet.full_text, 
        "retweet_count": tweet.retweet_count, 
        "favorite_count": tweet.favorite_count,
        "user_location":tweet.user.location,
    })
    
    # get the index of the last row
    last_row_index = len(df)
    # add the new row to the DataFrame using .iloc[]
    df.loc[last_row_index] = new_row
df.head()
    
# Pull tweet text, id, created_at_date,  username, retweets, likes saved to temporary dataframe - Virgil - DONE

,id,created_at,username,tweet,retweet_count,favorite_count,user_location
0,1646794041768529921,2023-04-14 08:34:30+00:00,codohertynews,Potentially significant changes to the law her...,0,0,Dublin
1,1646793461755006976,2023-04-14 08:32:11+00:00,otoolecm,Looking forward to lecturing this morning on t...,1,4,"Dublin, Ireland"
2,1646789174823985152,2023-04-14 08:15:09+00:00,Carlow_Co_Co,The Croí Cónaithe (Towns) Fund is among the su...,0,1,"Carlow, Ireland"
3,1646788845080387586,2023-04-14 08:13:51+00:00,DublinInquirer,"In Aparto student housing, 20% of the bill for...",2,5,"Dublin, Ireland"
4,1646786657478225920,2023-04-14 08:05:09+00:00,Luighseach,"More than 18,000 cows died after an explosion ...",1,1,Meath

In [21]:
# Clean the data
    ## clean text 
    ## date_time in right format eg dd/mm/yyyy - Chirag

# connect to a external DB upload cleaned data
    ## make sure tweets are unique by id - Dipanshu

# pull from database assign to dataframe - Dv
    # tokenize - virgil
    # lematize  - Dipanshu
    # visualise word cloud - Chirag

In [22]:
import mysql.connector
import os

In [23]:
connection = mysql.connector.connect(host='localhost',
                                         database='ca',
                                         user='root',
                                         password='toor')

In [24]:
mySql_insert_query = 'CREATE TABLE if not exists Perso (PersonID int,LastName varchar(255),FirstName varchar(255),Address varchar(255),City varchar(255));'

In [25]:
cursor = connection.cursor()
cursor.execute(mySql_insert_query)
connection.commit()